body {
  background: url("../img/bg.png") repeat;
}
#header {
  text-align: right;
}
#header ul{
  display: flex;
}
#header ul li {
  margin: 0 3%;
}
#header ul li:first-child {
  margin-right: auto;
}

#contents-header {
  text-align: right;
}
#contents-header img {
  width:20%;
}
#contents-footer {
  text-align: left;
  position: fixed;
  bottom: 0;
}
#contents-footer img {
  width:20%;
}
#contents {
  width: 100%;
}

.box4{
  padding: 8px 19px;
  color: #2c2c2f;
  background: #FFF;
  border-top: solid 5px #BF3E2A;
  border-bottom: solid 5px #BF3E2A;
  width: 80%;
  margin: auto;
}
.box4 p {
  margin: 0; 
  padding: 0;
}
